.invisible {
    visibility: hidden;
  } 
  .colorazul{
    background-color: rgb(72, 10, 241);
  
    
    }.colorgris{
        background-color: rgb(119, 113, 113);
      
        
        }
        .alto{
            height: 60px;
        }
        .masalto{
            height: 600px;
        }

      